@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!

.CartItems_container{
    background-color: $summer-blue;
    box-shadow: $component-shadow;
    border: 1px solid black;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 0px;
    border-radius: 25px;
    
    .list-entry{
        background: #f7f6f6;
        border: 1px solid black;
        font-size:x-large;
        width:60%;
        margin: 0px 0px;
        padding: 20px;
        border-radius: 25px;
    }
    .CartItems_deletebtn{
        background: white;
        border-radius: $button-radius;
    }
    .review-order-btn{
        background: $summer-blue;
        width: 80%;
<<<<<<< HEAD
        height: 100px;
=======
        height: 80px;
>>>>>>> more css styling. fixing more scrolling bugs on touchscreen UI.
        border-radius: $button-radius;
        border-radius: 25px;
        font-size: xx-large;
        text-align: right;
        padding-right: 9%;
      }
      .collapseStyleBtn{
        background: $summer-purple;
        position: relative;
        left: 400;
        width: 60;
        height: 60;
        visibility: hidden;
        border-radius: 25px;
      }
}