@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!

    .CartItems__container{
        border-radius: $card-radius;
        // box-shadow: $component-shadow;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    
    .CartItems__list-entry{
        background: #f7f6f6;
        // border: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        font-size: large;
        margin: 5px 0px;  
        border-radius: $card-radius;
        font-family: $font-family;
        // height: 80px;
    }

    .CartItems__deletebtn{
        background: white;
        border-radius: $button-radius;
    }

    .CartItems__review-order-btn{
        background: $summer-blue;
        width: 100%;
        height: 60px;
        border-radius: $button-radius;
        font-family: $font-family;
        font-size: x-large;
    }

    .CartItems__collapseStyleBtn{
        background: $summer-purple;
        position: relative;
        left: 400;
        width: 60;
        height: 60;
        visibility: hidden;
        border-radius: 25px;
    }

    .CartItems__list-wrapper{
      background: $nice-grey;
      max-height: 350px;
      padding-top: 0px;
      padding-bottom: 0px;
    // margin: 0px;
    }

    .CartItems__itemViewScroll{
      overflow-y:scroll;
      max-height: 290px;
    }

    .CartItems__placeOrderBtn{
        background: $summer-green;
        font-size: x-large;
        border-radius: $button-radius;
        width: 100%;
        font-family: $font-family;
    }

    .CartItems__returnToOrder{
        font-size: x-large;
        background: $summer-blue;
        border-radius: $button-radius;
    }

    .CartItems__decBtn{
        background: $summer-tan;        
        &:after{
            content: "-";
        }
        width: 40px;
    }

    .CartItems__incBtn{
        background: $summer-tan;
        &:after{
            content:"+";
        }
        width: 40px;
    }

    .CartItems__counter{
        background: $summer-purple;
        text-decoration: none;
        &:after{
            content:" ";
        }
        width: 40px;
    }

    .CartItems__close{
        border: none;
        background: none;
        color: $summer-coral;
        font-size: x-large;
        padding: 0px;
        margin: 0px;
      
    }
    .CartItems__totalFont{
        font-family: $font-family;
        font-size: large;
    }
    .CartItems__check{
        // padding-left: 200px;
        position: relative;
        left: 75px;
    }

    .modal-title{
        font-family: $font-family;
        font-size: x-large;
    }
