@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';

body {
    border-radius: 30px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.ItemDetail__container {
    background: white;
    border-radius: $card-radius;
    box-shadow: $component-shadow;
    padding-bottom: 5%;
    padding-top: 5%;
    color: rgb(0, 0, 0);
    text-align: left;
    height: 330px;


    .ItemDetail__name {
        font-family: $font-family;
        font-weight: 700;
        font-size: medium;
        padding: 10px 0px 0px 0px;
    }

    .ItemDetail__name .col-7 {
        font-size: x-large;

        @include media-breakpoint-down(sm) {
            font-size: larger;
        }
    }

    .ItemDetail__name .col-2 {
        font-size: larger;

        @include media-breakpoint-down(sm) {
            font-size: medium;
        }
    }

    a {
        padding: 2% 2% 2% 2%;
    }

    .ItemDetail__image {
        // margin: auto;
        // min-width: 175px;
        // min-height: 175px;

        // width: 100%;
        height: 175px;
        width: 200px;
        // min-height: 200px;
        // max-height: 200px;
        border-radius: 30px;
    }

    .ItemDetail__btncontainer {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 3%;
        font-weight: 700;
    }

    .ItemDetail__decBtn {
        background: $summer-lightblue;

        &:after {
            content: "−";
        }

        width: 40px;
        border-radius: 20px;
    }

    .ItemDetail__incBtn {
        background: $summer-lightblue;

        &:after {
            content: "+";
        }

        width: 40px;
        border-radius: 20px;
    }

    .ItemDetail__counter {
        background: $summer-creme;
        text-decoration: none;

        &:after {
            content: " ";
        }

        width: 40px;
    }

    .ItemDetail__addCart {
        background: $summer-yellow;
        color: rgb(255, 255, 255);
        padding-left: 2%;
        padding-right: 5%;
        border-radius: 20px;
        font-size: 140%;
    }

    .btn-group-cart {
        margin-left: 4%;
        width: 31%;
    }
}

@include media-breakpoint-down(sm) {
    .ItemDetail__container {
        height: 200px;
        width: 200px;
        // padding: 0;
    }

    .ItemDetail__image {
        height: 100px !important;
        width: auto !important;
    }

    .ItemDetail__name {
        // font-size: small !important;
        padding-top: 0px;
        margin-top: 0px;
    }

    .ItemDetail__btnToolbar {
        // width: 100px;
    }

}