@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!

body{
    border-radius: 30px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.ItemDetail__container{
    background: white;
    border-radius: $card-radius;
    box-shadow: $component-shadow;
    padding-bottom: 5%;
    padding-top: 5%;
    color: rgb(0, 0, 0);
    text-align: left;
    .ItemDetail_name{
        font-family: $font-family;
        font-weight: 700;
        font-size: medium;
        padding: 10px 0px 0px 0px;
        
    }
    a{
        padding: 2% 2% 2% 2%;
    }
    .ItemDetail__image{
        margin: auto;
        min-width: 175px;
        min-height: 175px;
    }

    .ItemDetail_btncontainer{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 3%;
        font-weight: 700;   
    }

    .ItemDetail__decBtn{
        background: $summer-lightblue;     
        &:after{
            content: "−";
        }
        width: 40px;
    }
    .ItemDetail__incBtn{
        background: $summer-lightblue;
        &:after{
            content:"+";
        }
        width: 40px;

    }
    .ItemDetail__counter{
        background: $summer-creme;
        text-decoration: none;
        &:after{
            content:" ";
        }
        width: 40px;
    }
    .ItemDetail__addCart{
        background: $summer-yellow;
        color: rgb(49, 49, 49);
    }
}