@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!

.ItemDetail_container{
    background: white;
    border-radius: $card-radius;
    box-shadow: $component-shadow;
    min-width: 300px;
    height: 275px;
    .ItemDetail_name{
        font-family: $font-family-bold;
    }
    .ItemDetail_decBtn{
        background: $summer-tan;        
        &:after{
            content: "-";
        }
    }
    .ItemDetail_incBtn{
        background: $summer-tan;
        &:after{
            content:"+";
        }

    }
    .ItemDetail_counter{
        background: $summer-purple;
        text-decoration: none;
        &:after{
            content:" ";
        }
    }
    .ItemDetail_addCart{
        background: $summer-green;
    }
}
