@import "variables";

.row_box{
    overflow-y: scroll;
    height: 825px;
}

.menu_box{
    background-color: $summer-yellow;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 5% 0;
}

.item_box{
    padding: 0 4%; 
    margin-right: -1%;
    display: inline-block;
    float: none;
}