@import "variables";

.payment-plugin__container {
    max-height: 350px;
    font-family: $font-family;
    padding: 40px;
    overflow-y: scroll;
}

.payment-plugin__checkmark {
    color: green;
    height: 100px;
}

.payment-plugin__rowWrap {
    padding: 30px 30px 0px 30px;
}

.payment-plugin__cardBody {
    box-shadow: $component-shadow;
    margin-bottom: 10px;
}

/* Custom paypal button design to match paypal's script */
.payment-plugin__qrBtn {
    font-family: Helvetica Neue;
    font-weight: 500;
    background: #ffc439;
    width: 100%;
}

.payment-plugin__textErrMsg {
    color: red;
    font-family: $font-family;
}

#qrcode {
    width: 160px;
    height: 160px;
    margin-top: 15px;
}