@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!
img{
    margin: 0px 0px;
}
.modal-backdrop { z-index: auto;}

.SearchResult__container{
    background: #f7f6f6;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;

    .SearchResult__name{
        font-family: $font-family-bold;
        font-size: medium;
        display: flex;
        align-items: center;
    }
    .SearchResult__results{
        background: #f7f6f6;
        font-size:x-large;
        margin: 0px 0px;
        padding: 0 1% 0 6%;
        min-height: 75px;
        width: 100%;
    }
    .SearchResult__imgcontainer{
        margin: 0 0;
        padding: 0 0;
    }
    .SearchResult__image{
        margin: auto;
        min-width: 15px;
        min-height: 15px;
    }

    .SearchResult__btncontainer{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .SearchResult__decBtn{
        background: $summer-tan;        
        &:after{
            content: "-";
        }
    }
    .SearchResult__incBtn{
        background: $summer-tan;
        &:after{
            content:"+";
        }

    }
    .SearchResult__counter{
        background: $summer-purple;
        text-decoration: none;
        &:after{
            content:" ";
        }
    }
    .SearchResult__addCart{
        background: $summer-green;
        font-size: 2vmin;
        height: 40px;
    }
}