@import "variables"; // DO NOT REMOVE THIS LINE OR SCSS WILL NOT WORK!

.CartItems_container{
    background-color: $summer-blue;
    box-shadow: $component-shadow;
    border: 1px solid black;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 0px;
    border-radius: 25px;
    
    .list-entry{
        background: #f7f6f6;
        border: 1px solid black;
        font-size:x-large;
        width:60%;
        margin: 0px 0px;
        padding: 20px;
        border-radius: 25px;
    }
}