@import "variables";
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';

html{
    padding:0 !important;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: $summer-white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $nice-grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px $summer-white;  /* creates padding around scroll thumb */
}

// ------------------------------------------------------

.StoreMenu__row-box{
    background: $summer-white;
    overflow-y: scroll;
    min-height: 836px;
    max-height: 836px;
    @media(max-width:550px){
        overflow-y: unset;
    }
}

.StoreMenu__row-box::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    display: none;
}

.StoreMenu__row-box::-webkit-scrollbar-track {
    background: $summer-white;        /* color of the tracking area */
}

.StoreMenu__row-box::-webkit-scrollbar-thumb {
    background-color: $nice-grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px $summer-white;  /* creates padding around scroll thumb */
}

// ------------------------------------------------------

.StoreMenu__menu-box{
    background-color: $summer-white;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 2% 4% 4% 4%;
    margin: 0px 0px;
    width: 100%;
}

.StoreMenu__menu-box::-webkit-scrollbar {
    height: 5px;               /* width of the entire scrollbar */
    display: none;
}

.StoreMenu__menu-box::-webkit-scrollbar-track {
    background: $summer-white;        /* color of the tracking area */
}

.StoreMenu__menu-box::-webkit-scrollbar-thumb {
    background-color: $nice-grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px $summer-white;  /* creates padding around scroll thumb */
}

// ------------------------------------------------------

.StoreMenu__item-box{
    border-width: 20px;
    padding: 0 3%; 
    margin-right: -1%;
    display: inline-block;
    float: none;
    width: 265px;
}