// This is where global styles will be stored
// You can call these is the .scss styles like so:
// property: $(variable-name);

// Font
@font-face{
    font-family: 'NotoSans-Regular';
    font-style: normal;
    src: local("NotoSans-Regular"), url("/fonts/NotoSans-Regular.ttf") format("ttf");
}

@font-face{
    font-family: 'NotoSans-Bold';
    font-style: bold;
    src: local("NotoSans-Bold"), url("/fonts/NotoSans-Bold.ttf") format("ttf");
}

$font-family: 'NotoSans-Regular';
$font-family-medium: 'NotoSans-Regular';
$font-family-bold: 'NotoSans-Bold';
$font-size: 16px;
$font-height: 1.5;

body{
    font-family: 'NotoSans', 'NotoSans-Bold', Arial, Helvetica, sans-serif;
}


// Summer Reef Color Palette from https://www.color-hex.com/color-palette/107145
$summer-tan: rgb(255, 233, 206);
// $summer-yellow: rgb(251,253,214);
 $summer-yellow: #fdfdf4;
$summer-green: rgb(208,249,183);
$summer-aqua: rgb(147, 244,202);
$summer-blue: rgb(142,195,244);
$summer-lightblue: rgb(170, 206, 239);
$summer-purple: rgb(244, 224, 255);
$nice-grey: rgb(235, 232, 237);

// Shadowing, radii, etc
$component-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card-radius: 12px;
$icon-radius: 6px;
$button-radius: 6px;

// borders:
$button-border: 1px black;
// Padding?

// Animations?