<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid CartItems_container">
        <button type="button" class="btn review-order-btn mx-auto" @click="showCart()" id="reviewOrderBtn">REVIEW ORDER</button>
        <button type="button" class="btn collapseStyleBtn" @click="collapseCart()" id="collapseCartBtn">Hide Cart</button>
        <div class="row" v-show="toggle" v-if="this.$store.state.cartInfo.length === 0">Your cart is empty! Add something now.</div>
        <div class="row list-entry" v-show="toggle" v-else v-for="(cartStuff, i) in this.$store.state.cartInfo">
            <div class="col-2">{{ cartStuff.quantity }}</div>
            <div class="col-5">{{ cartStuff.foodName }}</div>
            <div class="col-4"><button type="button" class="btn CartItems_deletebtn" @click="this.$store.commit('removeFromCart', i)">trash</button></div>
        </div>
    </div>

</body>
</html>
