<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container CartItems_container">
        <div class="row">
            <div class="col">Cart</div>
        </div>
        <div class="row" v-if="this.$store.state.cartInfo.length === 0">Your cart is empty! Add something now.</div>
        <div class="row list-entry" v-else v-for="(cartStuff, i) in this.$store.state.cartInfo">
            <div class="col-4">{{ cartStuff.quantity }}</div>
            <div class="col-4">{{cartStuff.foodName }}</div>
            <div class="col-4"><button type="button" class="btn CartItems_deletebtn" @click="this.$store.commit('removeFromCart', i)">trash can</button></div>
        </div>
    </div>
</body>
</html>
