<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body style="background:transparent">
    <!-- Item Cart -->
    <div class="container ItemDetail__container">
        <div class="row px-auto mx-auto">
            <!-- Item Image / Nutritional Info Button -->
            <button class="btn btn-default" data-bs-toggle="modal" :data-bs-target="getModalID()">
                <img :src="getImageURL()" class="ItemDetail__image mx-auto px-auto round d-block img-fluid">
            </button>
        </div>
        <!-- Item Name & Price -->
        <div class="row align-items-center ItemDetail__name">
            <h1 class="col-7 text-left">{{ foodName }}</h1>
            <h1 class=" col-2 text-left">{{ formatCost() }}</h1>
        </div>
        <!-- Item Cart Functionality -->
        <div class="row pt-1">
            <div class="col">
                <div class="btn-toolbar justify-content-around ItemDetail__btnToolbar" role="toolbar">
                    <div class="btn-group " role="group" aria-label="first group">
                        <button type="button" class="btn ItemDetail__decBtn" v-if="quantity>0"
                            @click="quantity--"></button>
                        <button type="button" class="btn ItemDetail__decBtn" v-else></button>
                        <button type="button" class="btn ItemDetail__counter" id="ItemDetail-count">{{ quantity
                            }}</button>
                        <button type="button" class="btn ItemDetail__incBtn" @click="quantity++"></button>
                    </div>

                    <div class="btn-group btn-group-cart" role="group" aria-label="second group">
                        <button type="button" class="btn ItemDetail__addCart" v-if="quantity >= 1"
                            @click="updateCartCounter()">
                            <font-awesome-icon icon="cart-plus" />
                        </button>
                        <button type="button" class="btn ItemDetail__addCart disabled" v-else>
                            <font-awesome-icon icon="cart-shopping" />
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<!-- Modal -->
<div class="modal fade" :id="getItemID()" tabindex="-1" aria-labelledby="itemDetailModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemDetailModal">Nutritional Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img :src="getNutritionalInfoURL()" class="mx-auto px-auto round d-block img-fluid"
                    alt="Nutritional Info Not Available">
            </div>
        </div>
    </div>
</div>

</html>