<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    
    <div class="container ItemDetail__container">
        <div class="row ItemDetail__name">
            <h1 class="col-8 text-center " style="font-size: x-large;">{{ foodName }}</h1>
            <h1 class="col-2 text-center " style="font-size: larger;">${{ price }}</h1>
        </div>
        <div class="row px-auto mx-auto" style="min-width:100px;min-height:100px;">
            <button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#nutritionalInfoModal">
                <img :src="getImageURL()"
                    class="mx-auto px-auto round d-block ItemDetail_image" 
                    alt="https://via.placeholder.com/100"
                    style="width:100%;height:100%;max-width: 200px; max-height: 200px;"
                    >
            </button>
  
        <!-- Modal -->
            <div class="modal fade" id="nutritionalInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nutritional Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img :src="getNutritionalInfoURL()"
                        class="mx-auto px-auto round d-block" 
                        alt="Nutritional Info Not Available"
                        style="width:100%;height:100%;"
                        >
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row pt-1 justify-content-center ItemDetail_btncontainer">
            <div class="col-2">
                <button type="button" class="btn ItemDetail__decBtn mx-auto" v-if="quantity>0" @click="quantity--"></button>
                <button type="button" class="btn ItemDetail__decBtn mx-auto disabled" v-else></button>

            </div>
            <div class="col-2">
                <!-- Get numeric item counter and print it as a string in UI -->
                <button type="button" class="btn ItemDetail__counter mx-auto" id="ItemDetail-count">{{ quantity }}</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn ItemDetail__incBtn mx-auto" @click="quantity++"></button>
            </div>
            <div class="col-6 justify-content-end">
                <button type="button" class="btn ItemDetail__addCart mx-auto" v-if="quantity >= 1" @click="updateCartCounter()">Add to Cart</button>
                <button type="button" class="btn ItemDetail__addCart mx-auto disabled" v-else>Add to Cart</button>
            </div> 
        </div>
    </div>
</body>
</html>
