<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body> 
    
    <div class ="row_box">
        <!-- <input class="col form-control search-bar SearchBar_bar border-end-0 border rounded-pill mx-auto" 
        type="text" 
        placeholder="Tap to Search"
        v-model="search"
        > -->
        <div
            v-for="(row,index) in foodNames"
            :key="index"
            class="row menu_box"
        >
        
            <div
            v-for="(name, position) in row"
            :key="position"
            class="col-6 item_box"
            >
            
            <item-detail 
                :item-id="position"
                :food-name="name"
            />
            </div>
        </div>
    </div>

</body>
</html>