<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="payment-plugin__container">
        <div v-if="!paidFor">
          Please Select Payment Option
          
        </div>
    
        <div v-if="paidFor">
            <!-- TODO: Hide Previous Button -->
            <!-- Hide Subtotal Price -->
            <!-- Make a receipt option? -->
          <h1>Your Order Has Been Purchased From Smart Vending Machine!!! {{ placeOrder() }}</h1>
        </div>
    
        <div ref="paypal" v-if="!paidFor" />
      </div>
</body>
</html>