<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="SearchResult__container">
        <div class="row SearchResult__row">
            <div class="col-2" style="padding: 0px 5px;">
                <button class="btn btn-default" data-bs-toggle="modal" :data-bs-target="getModalID()" data-backdrop="false">
                    <img :src="getImageURL()" 
                        class="rounded SearchResult__image"
                        >
                </button>    
            </div>
            <div class="col-4 SearchResult__name">{{ foodName }}</div>
            <div class="col-6 pt-1 SearchResult__btncontainer">
                <div class="col-2 btn-col">
                    <button type="button" class="btn SearchResult__decBtn mx-auto" v-if="quantity>0" @click="quantity--"></button>
                    <button type="button" class="btn SearchResult__decBtn mx-auto disabled" v-else></button>
                </div>
                <div class="col-2 btn-col">
                    <button type="button" class="btn SearchResult__counter mx-auto" id="SearchResult-count">{{ quantity }}</button>
                </div>
                <div class="col-2 btn-col">
                    <button type="button" class="btn SearchResult__incBtn mx-auto" @click="quantity++"></button>
                </div>
                <div class="col-6 btn-col" style="padding: 0px 0px 0px 15px">
                    <button type="button" class="btn SearchResult__addCart mx-auto" v-if="quantity >= 1" @click="updateCartCounter()">Add to Cart</button>
                    <button type="button" class="btn SearchResult__addCart mx-auto disabled" v-else>Add to Cart</button>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>