<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div class="container-fluid SearchBar__container">
            <div class="row align-items-center SearchBar__border">
                <div style="padding-left: 3%; padding-right: 3%;">
                <input class=" col form-control search-bar SearchBar__bar border-end-0 border rounded-pill mx-auto" 
                type="text" 
                placeholder="Tap to Search"
                @keyup="showSearchResults()"
                @input="input"
                v-model="input"
                v-on:click="showSearchInterface()"
                ></div>
                <div class="SearchBar__resultsbox" v-if="showKeyboard">
                    <button type="button" class="btn" @click="hideSearchInterface()">Close</button>
                    <div class="SearchBar__results" v-if="filteredItems.length > 0 && input.length > 0" v-for="item in filteredItems">
                        <search-result 
                        :item-id="item.item_id"
                        :food-name="item.name"
                        />
                    </div>
                    <div class="keyboard">
                    <SimpleKeyboard @onChange="onChange" @onKeyPress="onKeyPress" :input="input"/>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>