<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div class="container-fluid SearchFilter_container">
            <div class="row align-items-center">
                <div class="row list-entry" v-show="toggle" v-else v-for="(searchFilter, i) in this.$store.state.searchFilter">
                    <div class="col-2">{{ searchFilter.name }}</div>
                </div>
            </div>
        </div>
    
</body>
</html>
