<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid SearchBar__container">
        <div class="row SearchBar__border">
            <input class="col-1 form-control SearchBar__bar rounded-pill mx-auto"
            id="searchBar" 
            type="text" 
            placeholder="Tap to Search"
            @keyup="showSearchResults()"
            @input="searchQuery"
            v-model="searchQuery"
            v-on:click="showSearchInterface()"  
            >
            <button type="button" class="btn SearchBar__btnClose col-1" id="closeBtn" @click="hideSearchInterface()">X</button>

            <div class="SearchBar__resultsbox animated fadeIn" v-if="showKeyboard">
                <div class="SearchBar__results" v-if="filteredItems.length > 0 && searchQuery.length > 0" v-for="item in filteredItems">
                    <search-result 
                    :item-id="item.item_id"
                    :food-name="item.name"
                    />
                </div>
                <div class="SearchBar__notFoundContainer" v-if="0 >= filteredItems.length">
                    <h1>Item not found.</h1>
                    <button type="button" class="btn btn-link SearchBar__checkAvailability" data-bs-toggle="modal" data-bs-target="#checkAvailabilityModal">Check nearby machines</button> 
                </div>
                <div class="keyboard">
                    <SimpleKeyboard layout="default" @onChange="onChange" @onKeyPress="onKeyPress" :input="searchQuery"/>
                </div>
            </div>
             
        </div>
    </div>
</body>

  <div class="modal fade" id="checkAvailabilityModal" tabindex="-1" aria-labelledby="checkAvailabilityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="checkAvailabilityModalLabel">Check Nearby Machines</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Available at    Baskin's Engineering 1st Floor (0.05 mi).</h3>
            <h3>Available at    Social Sciences 1st Floor (0.10 mi).</h3>
            <h3>Available at    McHenry Library (0.20 mi).</h3>
            
            <ol-map :loadTilesWhileAnimating="true" :loadTilesWhileInteracting="true" style="height:400px" ref="map">

              <ol-view ref="view" :center="center" :rotation="rotation" :zoom="zoom" :projection="projection" />
          
              <ol-tile-layer>
                  <ol-source-osm />
              </ol-tile-layer>
          
              <ol-geolocation :projection="projection" @positionChanged="geoLocChange">
                  
                  <ol-vector-layer :zIndex="2">
                      <ol-source-vector>
                          <ol-feature ref="positionFeature">
                              <ol-geom-point :coordinates="slotProps.position"></ol-geom-point>
                              <ol-style>
                                  <ol-style-icon :src="hereIcon" :scale="0.1"></ol-style-icon>
                              </ol-style>
                          </ol-feature>
                      </ol-source-vector>
      
                  </ol-vector-layer>
                  
              </ol-geolocation>
          
            </ol-map>
            
        </div>
      </div>
    </div>
  </div>

</html>
