<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="container ItemDetail_container">
        <div class="row">
            <h1 class="col text-center">Item Name</h1>
        </div>
        <div class="row">
            <div class="col">
                <a href="#"><img src="https://via.placeholder.com/100" width="200px" height="150px" class="mx-auto rounded mx-auto d-block" alt="Cheetos Image"></a>
            </div>
        </div>
        <div class="row pt-3 justify-content-center">
            <div class="col-2">
                <button type="button" class="btn ItemDetail_decBtn mx-auto" id="ItemDetail-decr"></button>
            </div>
            <div class="col-2">
                <button type="button" class="btn ItemDetail_counter mx-auto" id="ItemDetail-count">0</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn ItemDetail_incBtn mx-auto" id="ItemDetail-incr"></button>
            </div>
            <div class="col-6 justify-content-end">
                <button type="button" class="btn ItemDetail_addCart mx-auto">Add to Cart</button>
            </div> 

        </div>
        
    </div>
    <!-- <section>
        <div v-if="data_ready" class="container ItemDetail_container">
          <h2 class="ItemDetail_name text-center">{{item_data.name.S}}</h2>
          <button @click="toggleDetails" type="button" class="btn-info align-items-center">Show Nutritional Info</button>
          <ul v-if="detailsAreVisible">
              <li>{{item_data.cost.N}}</li>
              <li>{{item_data.nutritional_info.M}}</li>
          </ul>
        </div>
    </section> -->
</body>
</html>
