<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <section>
        <div v-if="data_ready" class="container ItemDetail_container">
          <h2 class="ItemDetail_name text-center">{{item_data.name.S}}</h2>
          <button @click="toggleDetails" type="button" class="btn-info align-items-center">Show Nutritional Info</button>
          <ul v-if="detailsAreVisible">
              <li>{{item_data.cost.N}}</li>
              <li>{{item_data.nutritional_info.M}}</li>
          </ul>
        </div>
      
    </section>
</body>
</html>
