<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container-fluid SearchBar_container align-items-center">
            <input class="form-control SearchBar_bar border-end-0 border rounded-pill" type="text" placeholder="Tap to Search">
        </div>
    </section>
</body>
</html>
