<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- From StackOverflow -->
    <div class="input-group">
        <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</body>
</html>