<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container-fluid SearchBar_container align-items-center">
            <div class="input-group input-group-lg SearchBar_bar rounded" >
                <input type="text" class="form-control text-center" placeholder="Tap to Search" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </section>
</body>
</html>
