@import "variables";
// $primary: purple;
.ItemDetail_container{
    background: white;
    border-radius: $card-radius;
    box-shadow: $component-shadow;
    min-height: 250px;
    .ItemDetail_name{
        font-family: $font-family-bold;
    }
    
}
