@import "variables";

.ItemDetail_container{
    background: white;
    border-radius: $card-radius;
    box-shadow: $component-shadow;
    width: 90%;
    height: 90%;
    .ItemDetail_name{
        font-family: $font-family-bold;
    }
    .ItemDetail_decBtn{
        background: $summer-tan;
        &:after{
            content: "-";
        }
    }
    .ItemDetail_incBtn{
        background: $summer-tan;
        &:after{
            content:"+";
        }

    }
    .ItemDetail_counter{
        background: $summer-purple;
        text-decoration: none;

        &:after{
            content:" ";
        }
    }
    .ItemDetail_addCart{
        background: $summer-green;
    }
    
}
